* {
  box-sizing:border-box;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body {
  margin:0;
  font-family:"Roboto", sans-serif;
}
.heading-font {
  font-family:"Poppins", sans-serif;
}
