<div class="view-heading">new {{modelName}}</div>

<loader #loader ></loader>

<template ngFor let-path [ngForOf]="pathsArray">
  <div class="form-field" *ngIf="path.instance == 'String' && object">
    <div class="label">{{path.path | unCamel}}</div>
    <input-string-short [(ngModel)]="object[path.path]"></input-string-short>
  </div>
  <div class="form-field" *ngIf="path.instance == 'Number' && object">
    <div class="label">{{path.path | unCamel}}</div>
    <input-number [(ngModel)]="object[path.path]"></input-number>
  </div>
  <div class="form-field" *ngIf="path.instance == 'Boolean' && object">
    <div class="label">{{path.path | unCamel}}</div>
    <input-boolean [(ngModel)]="object[path.path]"></input-boolean>
  </div>
</template>

<button-primary [label]="'Create New ' + modelName" (click)="save()"></button-primary>
