
:host {
  display:flex;
  flex-direction:column;
  background-color:#eee;
}

:host .section-label {
  padding:10px 20px;
  font-size:22px;
  -webkit-user-select:none;
  cursor:pointer;
  -webkit-appearance:none;
  background-color:#333;
  border:none;
  color:#eee;
  text-align:left;
}
:host .section-label,
:host .section-label * {
  text-shadow: none;
}
:host .section-label:hover,
:host .section-label:hover * {
  text-shadow: 0px 0px 3px #eee;
}
:host .section-label:focus {
  outline:none;
}
:host .section-label i {
  font-weight:bold;
  margin-right:5px;
}
:host.expanded .section-label i {
  transform:rotateZ(-180deg);
}

:host .links {
  position:relative;
  overflow:hidden;
}
:host .links::after {
  content:'';
  position:absolute;
  height:100%;
  width:200%;
  top:0%;
  left:-50%;
  background:transparent;
  box-shadow:0px 0px 5px #111 inset;
  pointer-events: none;
}

:host .links a {
  display:block;
  color:#333;
  background-color:#eee;
  text-decoration:none;
  padding-right:10px;
  padding-left:45px;
  height:0px;
  overflow:hidden;
  text-overflow: ellipsis;
}
:host .links a:visited {
  color:#333;
}
:host.expanded .links a {
  padding-top:10px;
  padding-bottom:10px;
  height:40px;
}
