:host {
  display:block;
  padding:40px;
  max-height:calc(100vh - 60px);
  overflow-y:auto;
}

loader {
  position:fixed;
  top:80px;
  right:20px;
}

.table {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;

  width:100%;
}

.table .row {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;

  background-color:white;
}
.table .row:nth-child(2n) {
  background-color:#eee;
}

.table .row.heading-row {
  font-weight:bold;
}

.table .row .cell {
  position:relative;
  min-width: 130px;
  max-height: 74px;
  flex-grow:1;
  flex-shrink:1;
  flex-basis: 0;
  margin:10px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.table .row .cell.buttons {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-start;
  min-width:100px;
  flex-grow:0;
  overflow:visible;

  /* so shadows don't get cut off */
  margin-top:5px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}
.table .row .cell.buttons i {
  display:inline-block;
  width:35px;
  height:35px;
  line-height:35px;
  flex-grow:0;
  flex-shrink:0;
  text-align:center;
  font-size:24px;
  margin:0px 5px;
  cursor:pointer;
  background-color:white;
  border: 1px solid #888;
}
.table .row .cell.buttons i:hover {
  box-shadow:0px 0px 5px #5692ff;
}
/*
.table .row .cell:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0%;
  right: 0%;
  box-shadow: 0px 0px 2px #888;
  background-color: #ccc;
}
*/
