<div class="view-heading">{{ modelName | pluralize }}</div>

<div class="table">

  <div class="row heading-row">
    <div class="cell buttons">
      Actions
    </div>
    <div class="cell" *ngFor="let path of pathsArray">
      {{ path.path | unCamel }}
    </div>
  </div>

  <div class="row" *ngFor="let object of objects">
    <div class="cell buttons">
      <i class="fa fa-pencil" [routerLink]="'/' + modelName + '/' + object._id"></i>
      <i class="fa fa-trash-o" (click)="delete(object._id)"></i>
    </div>
    <div class="cell" *ngFor="let path of pathsArray" [title]="object[path]">
      {{ object[path.path] }}
    </div>
  </div>

</div>
