
<nav-top></nav-top>
<div class="main-container" [class.left-nav-open]="router.url !== '/login'">
  <nav-left>
    <nav-link [title]="'Home'" [routerLink]="'/'" [icon]="'home'"></nav-link>
    <nav-divider></nav-divider>
    <nav-section *ngFor="let collection of collections" [title]="collection">
      <a [routerLink]="'/' + collection" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">All {{ collection | pluralize }}</a>
      <a [routerLink]="'/' + collection + '/new'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">New {{collection}}</a>
      <a href="#">Tags</a>
    </nav-section>
    <nav-divider></nav-divider>
    <nav-link [title]="'Settings'" [routerLink]="'/settings'" [icon]="'gear'"></nav-link>
    <nav-link [title]="'Logout'" (click)="logout()" [icon]="'sign-out'"></nav-link>
  </nav-left>
  <div class="view-container">
    <router-outlet (loginSuccess)="onLoginSuccess()" (activateEvents)="onLoginSuccess()"></router-outlet>
    <toast-notification></toast-notification>
  </div>
</div>
