

.loader-container {
  display:flex;
  justify-content:center;
  height: 100vh;
  background-color:#eee;
}
.loader-container loader {
  transform: scale(1.5);
  margin-top:40%;
}

.main-container {
  display:flex;
  flex-direction:row;
  height:calc(100vh - 57px);
}

.view-container {
  width:calc(100% - 200px);
  padding-left: 200px;
}

nav-left {
  position:absolute;
  left:-200px;
}
.main-container:not(.left-nav-open).view-container {
  padding-left:0px;
  width:100%;
}
.main-container.left-nav-open nav-left {
  left:0px;
}

toast-notification {
  position:absolute;
  right:50px;
  bottom:50px;
}
