
:host a {
  display:block;
  padding:10px 20px;
  font-size:22px;
  -webkit-user-select:none;
  cursor:pointer;
  -webkit-appearance:none;
  background-color:#333;
  border:none;
  color:#eee;
  text-align:left;
  text-decoration:none;
}
:host a i {
  margin-right:5px;
}
:host a,
:host a i {
  text-shadow: none;
}
:host a:hover,
:host a:hover i {
  text-shadow: 0px 0px 3px #eee;
}
