<div class="view-heading">editing {{modelName}}: <span class="object-id">{{objectId}}</span></div>

<loader #loader ></loader>

<template [ngIf]="object">
<template ngFor let-path [ngForOf]="pathsArray">
  <div class="form-field">
    <div class="label">{{path.path | unCamel}}</div>

    <div class="field">
      <template [ngIf]="path.instance == 'String'">
        <input-string-long *ngIf="path.options.stringType == 'long'" [(ngModel)]="object[path.path]"></input-string-long>
        <input-string-short *ngIf="path.options.stringType == 'short' || path.options.stringType == undefined" [(ngModel)]="object[path.path]"></input-string-short>
      </template>
      <input-number *ngIf="path.instance == 'Number'" [(ngModel)]="object[path.path]" [isMoney]="path.options.isMoney"></input-number>
      <input-boolean *ngIf="path.instance == 'Boolean'" [(ngModel)]="object[path.path]"></input-boolean>
    </div>
  </div>
</template>
</template>

<div class="view-footer">
  <button-primary [label]="'Save Changes'" (click)="save()"></button-primary>
  <button-neutral [label]="'Reset Changes'" (click)="reset()"></button-neutral>
</div>
