
:host {
  display:inline-block;
  vertical-align:middle;
}

.track {
  display:block;
  position:relative;
  width:80px;
  height:40px;
  border-radius:20px;
  box-shadow:2px 2px 5px #aaa inset;
  cursor:pointer;
}
.track .toggle {
  display:block;
  position:absolute;
  top:-2.5px;
  left:-2.5px;
  width:45px;
  height:45px;
  border-radius:45px;

  background-color:#eee;
}
:host.on .track .toggle {
  left:37.5px;
  background-color:#5692ff;
  box-shadow:0px 0px 10px #73cbff;
}
